[Desktop Entry]
Exec=unote
Terminal=false
StartupNotify=true
Categories=GNOME;Utilities;
Type=Application
Icon=/opt/unote/icon.png
Name=Unote text editor
